<ion-view title="Cambiar contraseña" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="cambiarContraseA-form3" class="list ">
            <label class="item item-input " id="cambiarContraseA-input6">
                <span class="input-label">Email</span>
                <input type="email" ng-model="email" placeholder="">
            </label>
            <label class="item item-input " id="cambiarContraseA-input7">
                <span class="input-label">Nueva contraseña</span>
                <input type="password" ng-model="password" placeholder="">
            </label>
        </form>
        <button id="cambiarContraseA-button9" class=" button button-positive  button-block " ng-click="userForgotPassword(email, password)">Cambiar</button>
    </ion-content>
</ion-view>