<ion-view title="Cuenta" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="cuenta-list2">
            <ion-item id="cuenta-list-item10">Email</ion-item>
            <ion-item id="cuenta-list-item11">Nombre</ion-item>
            <ion-item id="cuenta-list-item12">Apellido</ion-item>
            <ion-item id="cuenta-list-item5">Teléfono</ion-item>
            <ion-item id="cuenta-list-item6">Contraseña</ion-item>
        </ion-list>
        <a ui-sref="menu.editarPerfil" id="cuenta-button3" class=" button button-positive  button-block ">Editar</a>
        <button id="cuenta-button4" class=" button button-positive  button-block button-outline ">Cerrar Sesión</button>
        <button id="cuenta-button19" class=" button button-assertive  button-block button-clear ">Eliminar cuenta</button>
    </ion-content>
</ion-view>