<ion-view title="Producto" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="producto-list6">
            <ion-item id="producto-list-item7">Nombre: {{detail.name}} </ion-item>
            <ion-item id="producto-list-item8">Tipo: {{detail.type}} </ion-item>
            <ion-item id="producto-list-item9">Cantidad: {{detail.quantity}}</ion-item>
            <ion-item id="producto-list-item13">Precio: {{detail.price}} </ion-item>
        </ion-list>
        <div id="producto-button-bar1" class=" button-bar ">
            <a id="producto-button11" class=" button button-positive  button-block " href="#/side-menu21/page9/{{ detail.id }}">Editar</a>
            <button id="producto-button12" class=" button button-positive  button-block button-outline " ng-click="productDelete()" >Eliminar</button>
        </div>
    </ion-content>
</ion-view>