<ion-view title="Registrar" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="registrar-form4" class="list ">
            <ion-list id="registrar-list5">
                <label class="item item-input " id="registrar-input8">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="email" placeholder="">
                </label>
                <label class="item item-input " id="registrar-input9">
                    <span class="input-label" >Nombre</span>
                    <input type="text" ng-model="firstname" placeholder="">
                </label>
                <label class="item item-input " id="registrar-input10">
                    <span class="input-label">Apellido</span>
                    <input type="text" ng-model="lastname" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input " id="registrar-input11">
                <span class="input-label">Teléfono</span>
                <input type="number" ng-model="phone" placeholder="">
            </label>
            <label class="item item-input " id="registrar-input12">
                <span class="input-label">Contraseña</span>
                <input type="password" ng-model="password" placeholder="">
            </label>
            <a id="registrar-button10" class=" button button-stable  button-block " ng-click="userCreate(email, firstname, lastname,phone,password)">Registrarme</a>
        </form>
        <button id="registrar-button13" class=" button button-positive  button-block button-clear ">Términos y condiciones</button>
    </ion-content>
</ion-view>