<ion-view title="Editar perfil" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list id="editarPerfil-list7">
            <label class="item item-input " id="editarPerfil-input21">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <form id="editarPerfil-form10" class="list ">
            <label class="item item-input " id="editarPerfil-input25">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editarPerfil-input27">
                <span class="input-label">Teléfono</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="editarPerfil-input26">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.cuenta" id="editarPerfil-button17" class=" button button-positive  button-block ">Cambiar</a>
    </ion-content>
</ion-view>