<ion-view title="Producto" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="producto-list6">
            <ion-item id="producto-list-item7">Nombre</ion-item>
            <ion-item id="producto-list-item8">Tipo</ion-item>
            <ion-item id="producto-list-item9">Cantidad</ion-item>
            <ion-item id="producto-list-item13">Precio</ion-item>
        </ion-list>
        <div id="producto-button-bar1" class=" button-bar ">
            <a ui-sref="menu.editarProducto" id="producto-button11" class=" button button-positive  button-block ">Editar</a>
            <button id="producto-button12" class=" button button-positive  button-block button-outline ">Eliminar</button>
        </div>
    </ion-content>
</ion-view>